<div class="landing-wrapper">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h2>The Playground Stats</h2>

      <div class="playground-data">
        {{#if loadData}}
          <ul>
            <li>the first part</li>
            <li>the second part</li>
            <li>the third part</li>
          </ul>
        {{/if}}
      </div>
    </div>
  </div>
</div>
